<header>
    <div class=title>Media Server</div>
    
    <div class="search">
    <input type="text" placeholder="searchbar" id="searchinput"/>
    <button class="searchbtn"><i class="icon magnify"></i></button>
    </div>

    <a href="javascript:void(0);" id="bars" class="icon" (click)="responsiveMenu()">
            <i class="icon bars"></i>
        </a>
    <nav class="topnav" id="nav">
       
        <a href="/">Home</a>
        <a href="/">Movies</a>
        <a href="/">TV-Shows</a>
        <a href="/">Books</a>
        
    </nav>
   
</header>